<!doctype html>

<head>
    <title>KatKam</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<html>
    <body>
        <div class="l-width-5 kam">
            <div class="kk center"><img src="/static/imgs/kk.png" /></div>
            <h1 class="center">Kitkat</h1>
            <hr/>
            <p>This is my cat, Kitkat. He's pretty cute, but he's been doing some weird things while I am not home. I thought maybe I should spy on him using a Raspberry Pi and a webcam.</p>
            <div class="feed-wrapper">
                <img class="feed" src="{{ip}}" / alt="Webcam feed">
            </div>
        </div>
    </body>
</html>